---
layout: default
---
<div class="posts">
  {% for post in site.posts %}
    {% if (post.lang == page.lang) and (post.public) %}
      <article class="post">
        <div class="header">
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div>
            <div class="date">
              {{ post.date | date: "%e.%m.%Y" }}
              {% if post.tags.size > 0 %} | {% endif %}
            </div>
            {% include tags.html %}
          </div>

          {% if post.photo %}
            <div class="photo">
              <img src={% if post.photo contains 'http' %}{{post.photo}}
                {% else %}{{site.baseurl}}/{{post.photo}}{% endif %}
                ></img>
            </div>
          {% endif %}
        </div>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ site.data.translations.readMore[page.lang] }}</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
