---
layout: default
---

<div class="posts">

{% assign posts = site.posts | where:"lang", page.lang %}
  {% for post in posts %}
    <article class="post-el">
      <div class="header">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div>
          <div class="date">
            {{ post.date | date: "%e.%m.%Y" }}
            {% if post.tags.size > 0 %} | {% endif %}
          </div>
          {% include tags.html %}
        </div>

        {% if post.photo %}
          <div class="photo">
            <img src={% if post.photo contains 'http' %}{{post.photo}}
              {% else %}{{site.baseurl}}/{{post.photo}}{% endif %}
              ></img>
          </div>
        {% endif %}
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ site.data.translations.readMore[post.lang] }}</a>
    </article>
  {% endfor %}
</div>
